{% load static %}
{% if not noscript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/warmpi.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
    <title>Thermostats</title>
    <!-- <script>
      var x = 0;
      var mouse_down = false;
      var timeout = 1000;

      $(document).mousedown(function(){
          mouse_down = true;
        })
        .mouseup(function() {
          mouse_down = false;
      })

      var reload_bg = function(){ 
        setTimeout(reload_bg, timeout)
        if (mouse_down) return;

        var root = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
        var request = $.ajax({
          url: root + '/controls/noscript',
          dataType: "html"
        })
        .done(
          function(data) {
            $("body").html(data);
            x = x + 1;
            console.log(x)
          }
        )
      }
      setTimeout(reload_bg, timeout)
      </script> -->
</head>
<body>
{% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'controls:index' %}">WarmPi</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'log:index' %}">Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
        </ul>
      </div>
    </nav>

    <br />
    <div class="container">
      {% for thermostat in thermostats %}
        <div class="row justify-content-lg-center">
          <div class="col-lg-8">
            <div class="card">
                <div class="card-header" style="padding-bottom: 0">
                  <div class="row">
                    <div class="col-sm-9">
                      <h1 class="card-title">
                        {{ thermostat.name }}&nbsp;
                        <span class="glyphicon {{ thermostat.status_icon }}" aria-hidden="true"></span>
                      </h1>
                    </div>
                    <div class="col-sm-3 text-right">
                      <div
                        role="alert" 
                        class="
                          alert text-center current-temp
                          {% if thermostat.too_warm %}
                          alert-danger
                          {% else %}
                          alert-info
                          {% endif %}
                        ">
                            {{ thermostat.get_temperature|floatformat }}&deg;C
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sm-2">
                          <h4>Mode:</h4>
                        </div>
                        <div class="col-sm-10 text-right">
                          <div class="btn-group" role="group" aria-label="Available Modes">
                            {% for mode in choices.modes %}
                              <a role="button" 
                                  class="
                                  btn btn-secondary
                                  {% if mode == thermostat.mode %}btn-info{% endif %}
                                  "
                                  href="{% url 'controls:mode' thermostat.id mode %}"
                              >{{ mode }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </li>
                    {% if not thermostat.always_off %}
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sm-4">
                          <h4>Target:</h4>
                        </div>
                        <di class="col-sm-8">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <a class="btn btn-secondary" href="{% url 'controls:jog_target' thermostat.id -5 %}">
                                  <span class="glyphicon glyphicon-backward"></span>
                                </a>
                                <a class="btn btn-secondary" href="{% url 'controls:jog_target' thermostat.id -1 %}">
                                  <span class="glyphicon glyphicon-triangle-left"></span>
                                </a>
                              </div> 
                              <input
                                class="
                                form-control text-center 
                                {% if thermostat.programmed and not thermostat.program_active %}
                                alert-secondary
                                {% elif thermostat.too_warm %}
                                alert-info
                                {% else %}
                                alert-danger
                                {% endif %}
                                "
                                value="{{ thermostat.target }}&deg;C"
                              >
                              <div class="input-group-append">
                                <a class="btn btn-secondary" href="{% url 'controls:jog_target' thermostat.id 1 %}">
                                  <span class="glyphicon glyphicon-triangle-right"></span>
                                </a>
                                <a class="btn btn-secondary" href="{% url 'controls:jog_target' thermostat.id 5 %}">
                                  <span class="glyphicon glyphicon-forward"></span>
                                </a>
                              </div> 
                          </div>
                        </di>
                      </div>
                    </li>
                  {% endif %}
                  {% if not thermostat.program_active and not thermostat.always_off %}
                    <li class="list-group-item">
                        <div class="row">
                          <div class="col-sm-2">
                            <h4>Boost:</h4>
                          </div>
                          <div class="col-sm-10 text-right">
                            <div class="btn-group" role="group" aria-label="Available Modes">
                                <a role="button" 
                                    class="btn btn-secondary {% if thermostat.boost == 1 %} btn-info {% endif %}"
                                    href="{% url 'controls:boost' thermostat.id 1 %}"
                                >1 Hour</a>
                                <a role="button" 
                                    class="btn btn-secondary {% if thermostat.boost == 2 %} btn-info {% endif %}"
                                    href="{% url 'controls:boost' thermostat.id 2 %}"
                                >2 Hours</a>
                                <a role="button" 
                                    class="btn btn-secondary {% if thermostat.boost == 3 %} btn-info {% endif %}"
                                    href="{% url 'controls:boost' thermostat.id 3 %}"
                                >3 Hours</a>
                                <a role="button" 
                                    class="btn btn-secondary {% if thermostat.boost == 4 %} btn-info {% endif %}"
                                    href="{% url 'controls:boost' thermostat.id 4 %}"
                                >4 Hours</a>
                                {% if thermostat.boost %}
                                  <a role="button" 
                                    class="btn btn-danger"
                                    href="{% url 'controls:boost' thermostat.id 0 %}"
                                  >Off</a>
                                {% endif %}
                            </div>
                          </div>
                        </div>
                      {% if thermostat.boost %}
                          <div class="row">
                            <div class="col-sm-4">
                                <h5>Boost Remaining</h5>
                            </div>
                            <div class="col-sm-8 text-right">
                                <h4><span class="badge">{{ thermostat.get_boost_remaining }}</span></h4>
                            </div>
                          </div>
                      {% endif %}
                    </li>
                    {% endif %}

                    <li class="list-group-item">
                      <table class="table table-condensed table-striped table-bordered">
                        <tr>
                          <th>Sensor</th>
                          <th class="text-right">Current Temperature</th>
                        </tr>
                        {% for thermsensor in thermostat.thermostatsensors_set.all %}
                        <tr>
                          <td>{{ thermsensor.sensor.name }}</td>
                          <td class="text-right">{{ thermsensor.sensor.get_temperature|floatformat }}&deg;C</td>
                        </tr>
                        {% endfor %}
                      </table>
                      {% if thermostat.thermostatsensors_set.count > 1%}
                      <div class="row">
                        <div class="col-sm-9">
                            <b>{{thermostat.sensor_selection}}: </b>
                        </div>
                        <div class="col-sm-3 text-right">
                            {{ thermostat.get_temperature }}&deg;C
                        </div>
                      </div>
                      {% endif %}
                    </li>

                    {% if thermostat.programmed %}
                    <li class="list-group-item">
                      <div class="row">
                          <div class="col-sm-6">
                              <h4>Timer:</h4>
                          </div>
                          <div class="col-sm-6 text-right">
                            {% if thermostat.program_active %}
                            <div class="btn-group" role="group" aria-label="...">
                                <a
                                role="button" 
                                href="{% url 'controls:pause' thermostat.id %}"
                                class="btn btn-secondary btn-sm
                                {% if thermostat.get_active_program.paused %}
                                    btn-info
                                {% endif %}
                                ">
                                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                </a>
                                <a
                                role="button"
                                href="{% url 'controls:unpause' thermostat.id %}"
                                class="btn btn-secondary btn-sm
                                {% if not thermostat.get_active_program.paused %}
                                    btn-info
                                {% endif %}
                                ">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                      </div>
                      {% for th_program in thermostat.thermostatprograms_set.all %}
                        <h4><span class="text-muted">{{ th_program.program.name }}</span>&nbsp;</h4>
                        <table class="table table-condensed table-striped table-bordered">
                          <tr>
                            <th>On</th>
                            <th>Off</th>
                            <th class="text-center">Target</th>
                          </tr>
                          {% for action in th_program.program.programaction_set.all %}
                          <tr
                            {% if action.id == thermostat.get_active_action.id %}
                            {% if action.active_time and th_program.program.active_day %}
                              class="{% if th_program.program.paused %} table-info {% else %} table-danger {% endif %}"
                            {% endif %}
                            {% endif %}
                          >
                            <td>{{ action.on }}</td>
                            <td>{{ action.off }}</td>
                            <td class="text-center">{{ action.target }}&deg;C</td>
                          </tr>
                          {% endfor %}
                        </table>

                        <div class="row">
                          <div class="col-sm-3"><b>Scheduled: </b></div>
                          <div class="col-sm-9 text-right"><span class="text-muted">{{ th_program.program.day }}</span></div>
                        </div>
                        {% if not forloop.last %}
                          <hr />
                        {% endif %}
                      {% endfor %}
                    </li>
                    {% endif %}
                  </ul>
                  <div class="card-footer"><b>Updated: </b>{% now "jS F - H:i:s" %}</div>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% if not noscript %}
<br />
</body>
</html>
{% endif %}
