@import "warmpi-theme";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'glyphicons';

.current-temp{
    margin-top: 10px;
}

.current-temp{
    font-size: 20pt;
    line-height: 20pt;
}

.row-enabled{
    background-color: $red !important;
}

.row-disabled{
    background-color: $cyan !important;
}

.log{
    height: 300px;
    display: block
}

.log text{
    color: white;
}