{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'css/nv.d3.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/log.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/log.js' %}"></script>
    <title>Temperature Log</title>
</head>
<body>

<div id="chart1" class='with-transitions'>
    <svg></svg>
</div>

{% if range.max %}
<div id="pages">
    <p>
        <a 
            href="" 
            class="
                week
            {% if range.ago == 0 %}
                strong
            {% endif %}
            ">This week </a>
        {% for week in range.max %}
            <a 
                href=""
                class="
                    week
                {% if week == range.ago %}
                    strong
                {% endif %}
                ">-{{ week }}</a>
        {% endfor %}
    </p>
</div>
{% endif %}

<script>
    DrawGraph();
    d3.json("/log/get/{{ range.units }}/{{ range.ago }}", 
        data => UpdateGraph('#chart1 svg', data)
    );
    d3.json("/thermostat/events/{{ range.units }}/{{ range.ago }}",
        data => UpdateGraph('#chart1 svg', data)
    );
</script>
</body>
</html>
